@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic,400italic);
html, body { font-family: "PT Sans", sans-serif; font-weight: 400; font-size: 100%; line-height: 1.25; color: #6d6d6d; color: rgba(0, 0, 0, 0.87); }

h1 { font-size: 2.4rem; font-weight: 700; }

h2 { font-size: 2rem; font-weight: 700; }

h3 { font-size: 1.6rem; font-weight: 700; }

h4 { font-size: 0.8rem; }

li { font-size: 0.8rem; }
li .ac-custom { font-size: 1rem; }

#msform .action-button { border: 0 none; cursor: pointer; padding: 0.45em 0.8em; font-size: 1.1rem; position: relative; text-transform: uppercase; font-weight: 400; margin: 0 auto; margin-top: 1em; color: #ededed; color: rgba(255, 255, 255, 0.7); }

#msform .action-button:first-of-type { left: 15%; }

#msform .action-button:nth-of-type(2) { left: 20%; }

#msform .action-button2 { border: 0 none; cursor: pointer; height: 3em; font-size: 1.1rem; position: relative; text-transform: uppercase; font-weight: 400; color: #ededed; color: rgba(255, 255, 255, 0.7); }

#msform .action-button2:first-of-type { left: -3em; }

.next { background: #607D8B; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.next:hover, .next:focus { background: #6b8a99; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); color: white !important; outline: none; }

.previous { background: transparent; -webkit-transition: 0.2s ease; transition: 0.2s ease; color: #607D8B !important; }

.previous:focus, .previous:hover { background: rgba(0, 0, 0, 0.1); outline: none; }

.submit { background: #E56A75; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.submit:hover, .submit:focus { background: #e98089; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); color: white !important; outline: none; }

.test { background: #6ce56c; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); color: white !important; }

.test:hover, .test:focus { background: #81e981; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); color: white !important; outline: none; }

.ac-custom { margin: 0 auto; }

.ac-custom ul, .ac-custom ol { list-style: none; padding: 1em 2em; }

.ac-custom li { padding: .5em 0; position: relative; }

.ac-custom label { display: inline-block; position: relative; font-size: 1.5em; padding-left: 3em; vertical-align: top; color: #8f8f8f; color: rgba(0, 0, 0, 0.54); cursor: pointer; -webkit-transition: color 0.3s; transition: color 0.3s; }

.ac-custom input[type="checkbox"], .ac-custom input[type="radio"], .ac-custom label::before { width: 1.5em; height: 1.5em; left: 0; position: absolute; margin-left: 0.75em; margin-top: -0.75em; cursor: pointer; }

.ac-custom input[type="checkbox"], .ac-custom input[type="radio"] { opacity: 0; -webkit-appearance: none; display: inline-block; vertical-align: middle; width: 100%; z-index: 100; height: 100%; }

.ac-custom input[type="email"] { border: 2px solid #e3e3e3; width: 80%; height: 3rem; margin-left: 10%; }

.ac-custom label::before { content: ''; border: 4px solid #e0e0e0; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; top: 50%; }

.ac-radio label::before { border-radius: 50%; }

.ac-custom input[type="checkbox"]:checked + label, .ac-custom input[type="radio"]:checked + label { color: #607D8B; }

.ac-custom input[type="checkbox"]:checked + label::before, .ac-custom input[type="radio"]:checked + label::before { border: 3px solid #607D8B; }

/* General SVG and path styles */
.ac-custom svg { position: absolute; width: 2em; height: 2em; top: 50%; margin-top: -1em; left: 1.25em; pointer-events: none; }

.ac-custom svg path { stroke: #607D8B; stroke-width: 8px; stroke-linecap: round; stroke-linejoin: round; fill: none; }

#msform fieldset { position: absolute; display: block; width: 100%; margin-left: -1.5em; padding-bottom: 1em; margin: 0 auto; }

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) { display: none; position: absolute; }

/*progressbar*/
#progressbar { margin-bottom: 2rem; overflow: hidden; /*CSS counters to number the steps*/ counter-reset: step; }

#progressbar li { list-style-type: none; font-size: .8rem; float: left; position: relative; margin-left: 1em; text-align: center; }

#progressbar li:before { content: counter(step); counter-increment: step; width: 2.4em; line-height: 2.4em; display: block; font-size: .8rem; background: #e4eaec; color: #8f8f8f; color: rgba(0, 0, 0, 0.54); border-radius: 50%; margin: 0 auto 5px auto; }

/*progressbar connectors*/
#progressbar li:after { content: ''; width: 100%; height: 2px; background: #4b626d; color: #8f8f8f; color: rgba(0, 0, 0, 0.54); position: absolute; left: -50%; top: 9px; z-index: -1 /*put it behind the numbers*/ }

#progressbar li:first-child:after { /*connector not needed before the first step*/ content: none; }

/*marking active/completed steps pink*/
/*The number of the step and the connector before it = pink*/
#progressbar li.active:before, #progressbar li.active:after { background: #e595a1; background: #E56A75; color: #ededed; color: rgba(255, 255, 255, 0.7); }

#finalstep p, a { text-align: center !important; }

#finalstep { margin-left: -1.8rem; margin-right: -1.8rem; }

.brand { height: 191px; }

body { background: url("../img/paper.png"); color: #6d6d6d; color: rgba(0, 0, 0, 0.87); }

a { color: #8f8f8f; color: rgba(0, 0, 0, 0.54); text-decoration: none; outline: none; }
a a:hover, a a:focus { color: #6d6d6d; color: rgba(0, 0, 0, 0.87); }
header { padding-top: 1em; height: 550px; background-color: #2c3940; background-image: url("../img/bg.jpg"); background-size: cover; background-position: center left; color: #ffffff; margin-bottom: -80px; }
@media screen and (max-width: 768px) { header { background-image: url("img/bgmobile.jpg"); margin-bottom: 0; } }

header ul { max-width: 470px; min-width: 320px; margin: 0 auto; padding-left: 0; }

header li { margin-top: 1.2em; display: inline-block; list-style: none; margin-left: 5px; }

#sub { font-size: 1rem; max-width: 715px; text-align: left; text-align-last: center; margin: 0 auto; padding: 2em 0em; }

#sub span { font-size: 0.8rem; color: rgba(255, 255, 255, 0.87); }

header p { text-shadow: 0 0 14px #555555; }

header p a { color: #69f; }

footer { padding: 1em; color: #aaaaaa; color: rgba(0, 0, 0, 0.38); text-align: center; }

#msform { background-color: #fafafa; padding: 2em; min-height: 1125px; }
@media screen and (max-width: 768px) { #msform { min-height: 970px; } }

#msform img { margin-bottom: 2em; }

.errorTxt { width: 80%; margin-left: 10%; font-size: 0.8rem; color: #d46767; }
